header{
    height: 90px;
    color: #534C98;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

main{
    color: #B767FF);
}

footer{
    height:90px
    color: #534C98;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#titre{
    text-align: center;
    font-family: "Flamenco", serif;
    font-weight: 400;
    font-style: normal;
}

.detail{
    color: #44FADD;
    font-family: "Flamenco", serif;
    font-weight: 400;
    font-style: normal;
}

.detail:hover{
    color: #FFEE7D;
}

article{
    font-family: "Nobile", serif;
    font-weight: 400;
    font-style: normal;
}

li{
    font-family: "Nobile", serif;
    font-weight: 400;
    font-style: normal;
}

div {

  display: inline-grid;
  anchor-name: --wrapper;

  details[open] {

    summary,
    &::details-content {
      background: #eee;
    }

    &::details-content {
      position: absolute;
      position-anchor: --wrapper;
      top: anchor(top);
      left: anchor(right);
    }

  }

}